body {
    background-color: #fff;
    font-family: monospace;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
textarea,
select,
button {
    border: 1px solid #aaa;
    padding: 8px;
    font-family: inherit;
}

button {
    padding: 8px 16px;
    background-color: #eee;
}
button:hover {
    background-color: #ddd;
}

#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#auth {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2000;
    background-color: #fff;
    padding: 8px;
    border: 2px solid rgba(0,0,0,0.2);
    border-top: 0;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

#auth > * {
    margin: 8px;
    flex: 1 1 auto;
}

#notifications {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 300px;
    z-index: 2000;
}

#notifications > * {
    background-color: #5bc0de;
    padding: 8px;
    margin-top: 4px;
    cursor: pointer;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 2px;
}

#controls {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    width: 450px;
    padding:  10px;
    background-color: #fff;
    border-left: 2px solid rgba(0,0,0,0.2);
    transform: translateX(100%);
    transition: transform 0.1s;
}

#controls * {
    box-sizing: border-box;
}

#controls.open {
    transform: translateX(0);
}

#controls > div:not(.open) {
    display: flex;
}

#controls label {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    margin: 8px;
}

#controls > label:last-of-type {
    margin-top: 16px;
}

#controls label span {
    display: block;
    font-size: 12px;
    margin-bottom: 2px;
}

#controls input,
#controls select {
    display: block;
    width: 100%;
    background-color: #fff;
}

#controls .toggle {
    position: absolute;
    top: 10px;
    right: 100%;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid rgba(0,0,0,0.2);
    border-right: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

#logout {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px;
}
